:root {
    --h-header: 50px;
    --h-headers: calc(2* var(--h-header));
    --w-sidebar: 220px;
    --w-drop-down: 150px;
    --br-sm: 4px;
    --br-md: 8px;
    --br-lg: 25px;
    --br-full: 50%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-align: left;
    line-height: 1.3;
    color: var(--c-gray);
    background-color: var(--c-primary);
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.s20 {
    width: 20px;
    height: 20px;
}

.s30 {
    width: 30px;
    height: 30px;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--c-shadow-gray);
    border-radius: var(--br-sm);
}