.invoice-card-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    width: 100%;
    /* margin-left: -15px;
    margin-right: -15px; */
}

.invoice-detail-card {
    flex: 0 0 75%;
    width: 75%;
    padding: 0 15px 15px;
}

.card-inner {
    padding: 20px;
    background-color: var(--c-secondary);
    border-radius: var(--br-sm);
}

.invoice-card .card-inner {
    padding: 20px 40px;
}

.upload-link {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    width: 150px;
    font-size: 16px;
    color: var(--c-light-gray);
    text-align: center;
    background-color: var(--c-shadow-gray);
    border-radius: var(--br-sm);
}

.bx-cloud-upload {
    font-size: 60px;
    color: var(--c-light-gray);
}

.invoice-label {
    display: inline-block;
    padding: 10px 100px 10px 10px;
    background-color: var(--c-shadow-gray);
    font-size: 13px;
    color: var(--c-light-gray);
    border-radius: var(--br-sm);
}

/* .invoice-form {
    width: 50%;
    padding-right: 100px;
}

.bill-form {
    width: 50%;
    padding-left: 100px;
} */

.form {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.form-title {
    font-size: 18px;
    color: var(--c-light-gray);
    margin-bottom: 20px;
}


.form-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}


.form-label {
    font-size: 14px;
}

.form-input {
    padding: 5px 10px;
    background-color: var(--c-shadow-gray);
    font-size: 15px;
    border-radius: var(--br-sm);
    border: none;
    outline: none;
}

.form-input::placeholder {
    color: var(--c-light-gray);
}

.form-container {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--c-shadow-gray);
}

.invoice-info-title {
    margin-bottom: 5px;
}

.invoice-info-description {
    display: inline-block;
    width: 150px;
    padding: 8px 10px;
    font-size: 14px;
    color: var(--c-light-gray);
    background-color: var(--c-shadow-gray);
    border-radius: var(--br-sm);
}

.description-date {
    color: var(--c-light-blue);
}

.invoice-table {
    border-collapse: collapse;
    width: var(--w-full);
}

.table-head {
    border-top: 1px solid var(--c-shadow-gray);
    border-bottom: 1px solid var(--c-shadow-gray);
}

.column-title {
    padding: 15px 0 15px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: left;

}

.table-row-box {
    padding-top: 20px;
}

.table-content {
    display: inline-block;
    width: 150px;
    padding: 8px;
    background-color: var(--c-shadow-gray);
    font-size: 14px;
    color: var(--c-light-gray);
    border-radius: var(--br-sm);
    margin-bottom: 5px;
}

.table-content-price {
    font-size: 14px;
}

/* currency card */

.currency-card .card-inner {
    padding: 15px;
}

.currency-card {
    flex: 0 0 25%;
    width: 25%;
    padding: 0 15px 15px;
    align-self: flex-start;
}

.currency-heading {
    font-size: 15px;
    padding-bottom: 10px;
    color: var(--c-light-gray);
    border-bottom: 1px solid var(--c-shadow-gray);
}

.currency-img {
    width: 20px;
    height: 20px;
}

.currency-type {
    font-size: 13px;
}

.currency-menu.usd {
    width: 100%;
}

.currency-menu {
    padding: 10px;
    width: 100px;
    color: var(--c-gray);
    background-color: var(--c-shadow-gray);
    border-radius: var(--br-sm);
}

.currency-sub-head {
    font-size: 13px;
}

/* invoice action-card */

.invoice-action-card {
    flex: 0 0 25%;
    width: 25%;
    padding: 0 15px 15px;
    align-self: flex-start;
}

.invoice-action-card .card-inner {
    padding: 30px 20px;
}